/* Description: The CSS-script from the NJ-web-design
 * Author: Ncoder77
 * Version: 0.01
*/

body {
    padding: 30pt;
    padding-top: 50pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: rgb(3, 103, 185);
    line-height: 80pt;
}

h2 {
    padding-top: 15pt;
}


/* Button *************************************/
button {
    font-family: 'Segoe UI Semibold';
    color: white;
    background-color: rgb(0, 120, 215);
    padding: 6pt 23pt 6pt 23pt;
    border: none;
    border-radius: 3pt;
}

button:hover {
    background-color: rgb(0, 137, 242);
}

button:active {
    background-color: rgb(0, 102, 181);
}


/* Input *************************************/
input[type='text'] {
    border: solid gray 1pt;
    border-radius: 3pt;
    padding: 3pt;
    width: 150pt;
    height: 17pt;
}

#errorOutput {
    color: red;
}

#warningOutput {
    color: gray;
    font-style: italic;
}

/* Select **********************************/
select {
    width: 150pt;
    height: 25pt;
    font-family: 'Segoe UI Semibold';
    background-color: lightgray;
    border: none;
    border-radius: 3pt;
    padding: 5pt;
}

/* Checkbox *******************************/
input[type='checkbox'] {
    width: 30pt;
    color: red;
}


/* progressbar *****************************/
div.progressbar {
    width: 150pt;
    height: 18pt;
    background-color: rgb(196, 196, 196);
}

div.progressbar div {
    width: 0pt;
    height: 100%;
    background-color: #0078D4;
    transition: width 1s;
}


/* navbar **********************************/
nav {
    position: fixed;
    left: 0; top: 0;
    width: 100%;
    height: 50pt;
    background-color: rgb(249, 248, 246);
    box-shadow: 2px 3px 5pt 1px rgba(0, 0, 0, 0.2);
    display: flex;
}

nav elem {
    width: 20%;
    text-align: center;
    cursor: pointer;
    font-size: 13pt;
    padding-top: 18.5pt;
    padding-bottom: 18.5pt;
}

nav elem:first-child {
    font-family: segoe mdl2 assets;
}

@media screen and (min-width: 400pt) {  /* standart-device */
    nav {
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
    }
        
    nav elem {
        transition: visibility 0.2s;
        visibility: visible;
    }

    nav elem:first-child {
        visibility: hidden;
        position: absolute;
        left: -30pt
    }

    nav elem:nth-child(2) {
        font-family: 'Segoe UI semibold';
        font-size: 16pt;
    }
}

@media screen and (max-width: 400pt) {  /* mobile-device */
    nav {
        height: 50pt;
        align-items: stretch;
        justify-content: flex-start;
        flex-direction: column;
        transition: height 0.3s;
    }
    nav elem {
        padding-left: 20pt;
        visibility: hidden;
    }
    nav elem:first-child {
        position: relative;
        visibility: visible;
        padding-left: 0; 
    }
}

/* Icon */
.ico {
    font-family: segoe mdl2 assets;
    background-color: rgb(249, 248, 246);
    box-shadow: 0px 0px 10pt 1px rgba(0, 0, 0, 0.3);
    padding: 20pt;
    font-size: 18pt;
    margin: 20pt;
    border-radius: 50pt;
}

/* Image */
img.NJ-design {
    box-shadow: 2px 3px 5pt 1px rgba(0, 0, 0, 0.25);
    border-radius: 10pt;
}

/* Notations */
.note {
    padding-left: 10pt;
    border-left: solid;
    border-color: #0078D4
}