/* Description: The CSS-script from the NJ-web-design
 * Author: Ncoder77
 * Version: 0.01
*/

body {
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: rgb(3, 103, 185);
}

h2 {
    padding-top: 20px;
}


/* Button *************************************/
button {
    font-family: 'Segoe UI Semibold';
    color: white;
    background-color: rgb(0, 120, 215);
    padding: 9px 30px 9px 30px;
    margin-top: 50px;
    border: none;
    border-radius: 3px;
}

button:hover {
    background-color: rgb(0, 137, 242);
}

button:active {
    background-color: rgb(0, 102, 181);
}


/* Input *************************************/
input {
    border: solid gray 2px;
    border-radius: 3px;
    padding: 6px;
    width: 200px;
    height: 20px;
}

#errorOutput {
    color: red;
}

#warningOutput {
    color: gray;
    font-style: italic;
}

/* Select **********************************/
select {

}
>>>>>>> 8ce603ba6c0336d85972b59083184fe1ac38648c
