/* The CSS-file from the NJ-web-design */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    background-color: #faf9f8;
}


/* header *************************************/
h1 {
    color: rgb(3, 103, 185);
}

h2 {
    padding-top: 15pt;
}


/* Button *************************************/
button {
    font-family: 'Segoe UI Semibold';
    color: white;
    background-color: rgb(0, 120, 215);
    padding: 6pt 23pt 6pt 23pt;
    border: none;
    border-radius: 3pt;
}

button:hover {
    background-color: rgb(0, 137, 242);
}

button:active {
    background-color: rgb(0, 102, 181);
}


/* Input *************************************/
input[type='text'] {
    border: solid gray 1pt;
    border-radius: 3pt;
    padding: 3pt;
    width: 150pt;
    height: 17pt;
}

#errorOutput {
    color: red;
}

#warningOutput {
    color: gray;
    font-style: italic;
}

/* Select **********************************/
select {
    width: 150pt;
    height: 25pt;
    font-family: 'Segoe UI Semibold';
    background-color: lightgray;
    border: none;
    border-radius: 3pt;
    padding: 5pt;
}

/* Checkbox *******************************/
input[type='checkbox'] {
    width: 30pt;
    color: red;
}


/* progressbar *****************************/
div.progressbar {
    width: 150pt;
    height: 17pt;
    background-color: rgb(191, 191, 191);
}

div.progressbar div {
    width: 0pt;
    height: 100%;
    background-color: rgb(0, 176, 240);
    transition: width 1s;
}


/* navbar **********************************/
nav {
    position: fixed;
    left: 0; top: 0;
    z-index: 200;
    width: 100%;
    height: 50pt;
    background-color: #fff;
    box-shadow: 0 1.6px 3.8px 0 rgba(0,0,0,0.2);
    display: flex;
    z-index: 100;
}

nav elem {
    width: 200pt;
    text-align: center;
    cursor: pointer;
    font-size: 13pt;
    padding-top: 18.5pt;
    padding-bottom: 18.5pt;
}

nav elem:first-child {
    font-family: segoe mdl2 assets;
}

@media screen and (min-width: 400pt) {  /* standart-device */
    nav {
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
    }
        
    nav elem {
        transition: visibility 0.2s;
        visibility: visible;
    }

    nav elem:first-child {
        visibility: hidden;
        position: absolute;
        left: -30pt
    }

    nav elem:nth-child(2) {
        font-family: 'Segoe UI semibold';
        font-size: 16pt;
    }
}

@media screen and (max-width: 400pt) {  /* mobile-device */
    nav {
        height: 50pt;
        align-items: stretch;
        justify-content: flex-start;
        flex-direction: column;
        transition: height 0.3s;
    }
    nav elem {
        padding-left: 20pt;
        visibility: hidden;
        text-align: left;
    }
    nav elem:first-child {
        position: relative;
        visibility: visible;
        padding-left: 25pt; 
    }
}

/* flexbox-view ***************************/
.flexbox-view {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*Big flexbox-view*/
.flex-item-b {
    width: 140pt;
    height: 180pt;
    background-color: rgb(240, 240, 240);
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.192);
    border-radius: 10pt;
    padding: 70pt 30pt 30pt 30pt;
    margin: 20pt;
    text-align: center;
}

.flex-item-b:hover {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.1s;
}

.flex-item-b:active {
    background-color: rgb(245, 245, 245);
}

.flex-item-b img {
    padding-bottom: 40pt;
}

.flexview-icon-b {
    margin: 20pt 0pt 65pt 0pt;
    font-family: 'Segoe MDL2 Assets';
    font-size: 80pt;
}

/*Small flexbox-view*/
.flex-item-s {
    width: 90pt;
    height: 160pt;
    min-width: 120pt;
    background-color: rgb(240, 240, 240);
    box-shadow: 0px 5px 13px rgba(0, 0, 0, 0.192);
    border-radius: 10pt;
    padding: 50pt 30pt 30pt 30pt;
    margin: 15pt;
    text-align: center;
}

.flex-item-s:hover {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.1s;
}

.flex-item-s:active {
    background-color: rgb(245, 245, 245);
}

.flex-item-s img {
    padding-bottom: 30pt;
}

.flexview-icon-s {
    margin: 30pt 0pt 50pt 0pt;
    font-family: 'Segoe MDL2 Assets';
    font-size: 70pt;
}

/* windows *************************************/
.window {
    position: absolute;
    left: 100%; top: 50pt;
    width: calc(100%);
    height: calc(100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: left 0.5s;
    visibility: visible;
}

.window:first-of-type {
    left: 0%;
    visibility: visible;
}

/* Icon */
.ico {
    font-family: segoe mdl2 assets;
    background-color: rgb(249, 248, 246);
    box-shadow: 0px 0px 10pt 1px rgba(0, 0, 0, 0.3);
    padding: 20pt;
    font-size: 18pt;
    margin: 20pt;
    border-radius: 50pt;
}

/* Image */
img.lwd {
    box-shadow: 0 1.6px 3.6px 0 rgba(0,0,0,0.132), 0 0.3px 0.9px 0 rgba(0,0,0,0.108);
    border-radius: 5pt;
}

/* Notations */
.note {
    padding-left: 10pt;
    border-left: solid;
    border-color: #0078D4;
    font-style: italic;
}

/* box ********************************************/
div.lwd {
    box-shadow: 0 1.6px 3.6px 0 rgba(0,0,0,0.2), 0 0.3px 0.9px 0 rgba(0,0,0,0.2);
    border-radius: 5pt;
    width: 195pt;
    height: 100pt;
    background-color: #fff;
    padding: 25pt;
    border-radius: 2px;
    text-align: center;
}

/* footer *****************************************/
.footer {
    position: relative;
    left: 0pt;
    bottom: 0pt;
    width: 100%;
    padding: 20pt 10pt 20pt 10pt;
    background-color: rgb(240, 240, 240);
}

.footer a.header {
    font-weight: 500;
    color: rgb(58, 58, 58);
    margin: 0pt 30pt 0pt 30pt;
    text-decoration: none;
    font-size: 12pt;
}

.footer a {
    text-decoration: none;
    color: rgb(94, 94, 94);
    font-size: 11pt;
    margin: 0pt 50pt 0pt 50pt;
}

.footer a:hover {text-decoration: underline}
.footer a:active {color: rgb(141, 141, 141)}


/*ListView*****************************************/
table.listView {
    border-top: solid 1pt rgb(196, 196, 196);
    border-spacing: 0pt;
}

td {border-bottom: solid 1pt rgb(196, 196, 196);}

.listView tr td {width: 280pt; padding-right: 5pt;}
.listView tr td:first-child {padding: 5pt;width: 0pt;}


/* File Input **********************************/
#button-file {
    font-family: 'Segoe UI Semibold';
    background-color: rgb(216, 216, 216);
    padding: 6pt 23pt 6pt 23pt;
    border-radius: 3pt;
    border: none;
}
#button-file:hover {
    cursor: pointer;
    background-color: rgb(223, 223, 223)
}